<html>
  <head>
    <title>당일 채소 가격</title>
  </head>
  <body>
  <h1> test start</h1>
    {% for data in apidata %}
        <div>
            <h1>
                id : {{ data.id }}<br>

                {{ data.item_name }} : {{ data.kind_name }}<br>

            </h1>
            <h3>
                상품 등급 : {{ data.rank }}<br>
                {{ data.date }} 가격 : {{ data.today_price }} / {{ data.unit }}<br>
            </h3>
            <p>평균 가격 : {{ data.average_price }} / {{ data.unit }}</p>
        </div>
    {% endfor %}
  <h1>end test</h1>
  </body>
</html>